html {
	min-width: 1000px;
}

body {
	background: #fff;
}

a {
	color: #a4ce13;
}

a:link {
	color:#33818C;
	text-decoration:none;
}

a:hover {
	color:#264b66;
}


.post-more,
.post-excerpt a {
	color: #f11300;
}

/**
 *  #page
 *  @desc  Main container for the whole page, except by the #footer.
 *         It's suppose to act as a replacement for the body tag, this
 *         is needed to implement "FooterStick Alt" by "Cameron Adams"
 *         http://themaninblue.com/experiment/footerStickAlt/
 */
#page {
	margin: 0 auto;
	padding: 0px;
	width: 960px;
}

/**
 *  #branding
 *  @desc  Main header bar, contains the branding elements:
 *         logo, tagline, description, phone, and get a free quote button
 */

/*---------------
Comienzo martin*/
#header {
	overflow:visible;
	height: 179px;
	width:960px;
	position: relative;
	background: url(../images/header-bg.png) repeat-y #fff left top ;
}

#corner-logo {
	background: url(../images/logo-bg.png) no-repeat right bottom;
	height:179px;
	width: 200px;
	position: relative;

}

#corner-right {
	background:url(../images/header-shadow.png) no-repeat right bottom;
	height:317px;
	width: 14px;
	top: 0px;
	right:-14px;
	position:absolute;
	z-index:50;
}

#head-logo {
	background: url(../images/logo.png) no-repeat;
	height:150px;
	width: 65px;
	margin: 0;
	position: absolute;
	left: 70px;
	top: 16px;
}

#head-logo  a {
	display:block;
	color: #fff;
	height:100%;
	width:100%;
}

#head-menu {
	background: url(../images/bg_header.jpg) no-repeat left -2px;
	height:179px;
	width:760px;
	position:absolute;
	right:0;
	top:0;
}

#header-nav {
	position: relative;
	left: 25px;
	top: 126px;
	margin:0px;

}

#header-nav li{
	display:inline;
	float:left;
	position: relative;
	line-height:24px;
	
	padding:0px;
	text-align:center;	

	background:url(../images/bot2.png) no-repeat;
	margin-right:10px;
	width:141px;
}

#header-nav li.page-item-12{
	word-spacing:-1px;
}

#header-nav li a{
	display:block;
	height:100%;
	width:100%;
	text-decoration:none;
	color:#99CCCC;
	font-size:1.15em;
}

#header-nav li a:hover {
	color: #e8edee;
}

.description{
	visibility:hidden;
	display:none;
}

#head-idioma {
	background:url(../images/language-bg.png) no-repeat bottom;
	position: absolute;
	height:45px;
	width:200px;
	right:25px;
	bottom:0;
	margin:0;
	padding:0 0 10px 0;
	list-style:none;
}

#head-idioma li{
	width:84px;
	height:43px;
	float:left;
	margin:0 6px;
}

#head-idioma .flag_it{
	background:url(../images/language-italiano.png) no-repeat;
	}
	
#head-idioma .flag_es{
	background:url(../images/language-espanol.png) no-repeat;
}

#head-idioma li a{
	display:block;
	width:100%;
	height:100%;
}	
	
#head-idioma li a span{
	display:none;
	visibility:hidden;
}	

#content {
	width:520px;
	float:left;
	min-height:650px;
}

/*fin martin
------------*/

#head-tagline {
	display: none;
}

#head-contact {
	background: url(../images/contact-us_bg.png) no-repeat;
	font-size: 1.25em;
	text-align: center;
	height:107px;
	position:absolute;
	right:0px;
	text-align:center;
	top:0px;
	width:311px;
	color: #A45507;
}

.cufon-start #head-contact {
	font-size: 1.75em;
	line-height: 1;
}

#head-contact,
#head-contact a {
	color: #A45507;
}

#head-contact a {
	text-decoration: none;
}

#head-logo span,
#head-tagline a,
#head-tagline span {
	display: block;
	font-size: 1px;
	height: 100%;
}

#head-logo span,
#head-tagline span {
	visibility: hidden;
}

#head-contact .row {
	display: block;
	padding-top: 18px;
	font-size: 1.15em;
}

#head-contact strong {
	display: block;
	font-size: 1.25em;
}

/* home */
.home .camara {
	background: url(../images/pics.png) no-repeat center top;
	height:341px;
}

.home h1 {
	color: #264B66;
	font-size:1.85em;
	text-align:center;
	font-weight:bold;
	margin-bottom:10px;
}

/**
 *  #banner
 */

#banner {
	position: relative;
	top: -2px;
	z-index: 6;
}

#banner .bg-top,
#container .bg-top  {
	background:url(../images/content-bg-top.png) no-repeat;
	height:14px;
}

#banner .bg-bottom {
	background:url(../images/content-bg-bottom-1.png) no-repeat;
	height:28px;	
	}
	
#container .bg-bottom {
	background:url(../images/content-bg-bottom-2.png) no-repeat;
	height:23px;
	}

/**
 *  #container
 *  @desc  Main container for the whole content. It has 1, 2 and 3 columns
 *         support, depending on child class elements.
 */

input {
	color: #666;
	font: 14px Arial, sans-serif;
	padding: 2px;
}

/**
 *  #container
 *  @desc  Main container for the whole content. It has 1, 2 and 3 columns
 *         support, depending on child class elements.
 */
#container {
	background: #dedede url(../images/container-bg.png) center top  repeat-x;
	text-align: justify;
	overflow: hidden;
	z-index: 20;
	position: relative;
	color: #000;
}

input,
select,
textarea {
	border: solid 1px #cccccc;
	background: #ffffff;
}

/**
 *  #footer
 *  @desc  Footer container, it has 2 rows with repeated content site wide
 *         It has FooterStick Alt support by "FooterStick Alt" by
 *         "Cameron Adams" http://themaninblue.com/experiment/footerStickAlt/
 */
#footer {
	background:url(../images/footer-bg.png) center top no-repeat;
	color:#264B66;
	font-size:11px;
	position:relative;
	padding-bottom:10px;
	margin-top:10px;
}

.wrapper{
	margin:0 auto;
	padding-top:25px;
	width:690px;	
}

#footer a:link {
	color:#33818C;
	text-decoration:none;
}

#footer a:hover {
	color:#264b66;
}

#footer #copy {
	margin-top:10px;
}

#footer p {
	margin: 0;
}


.post {
	min-height: 250px;
	padding: 10px 30px;
}

h1 {
	font-size: 28px;
	font-weight: bold;
	letter-spacing: -1px;
	margin: 0;
}

h3 {
	color:#264B66;
	font-size:14px;
	font-weight:normal;
	line-height:18px;
	margin-bottom:8px;
	margin-top:2px;	
}

.post-meta {
	font-size: 0.9em;
	margin-bottom: 0.5em;
}

.post-meta,
.post-meta a {
	color: #555;
}

.post-navigation {
	padding: 5px 0px;
	text-align: center;
}

.post-share {
	float: left;
}

.post-share img {
	height: 18px;
}

.post-ratings {
	float: right;
	width: 160px !important;
}

.post .post-content p {
	font-family: Arial;
	font-size: 13px;
}

a img {
}

.alignleft {
	float: left;
	margin: 0 15px 0 0;
}

.alignright {
	float: right;
	margin: 0 0 0 15px;
}

.alignnone {
	clear: both;
	float: none;
	margin: 0;
}

.aligncenter {
	display:block;
	float:none;
	margin:0 auto;
	text-align:center;
}

hr {
	border: 1px solid #ccc;
	border-width: 0 0 1px;
	margin: 10px 0;
}

#map {
	width: 325px;
	height:242px;
	margin-left:10px;
	float: right;
	overflow: hidden;
	background: #fff;
	padding: 7px 8px;
	border: 1px solid #666;
	border-color: #ddd #bbb #bbb #ddd;
}

#delivery {
	float: right;
	margin-right: 10px;
}

/* Formularios */

#cformsform legend {
	color:#240F03;
	font-size:20px;
	font-weight:normal;
	letter-spacing:-1px;
	line-height:1;	
}

#post-4 form {
	margin-top: 200px;
}
.post-content form {
	width:305px;
	float: left;
}


.post-content form{
	margin-left: auto;
	margin-right: auto;
}

#cformsform ol {
	list-style: none;
	margin-top: 8px;
}

.post-content #sendbutton{
	height: 35px;
	margin-left:83px;
	width: 118px;
	font-size: 1em;
	border: none;
	background: url(../images/sendbutton-bg.png) no-repeat;
	padding: 2px 8px 14px 2px;
}

.post-content #sendbutton:hover {
	cursor: pointer;
}

#cformsform ol li {
	margin-bottom:2px;
}

.post-content #cformsform label {
	float:left;
	width:65px;
}

.post-content form input, .post-content form textarea {
	width:198px;
	padding-left: 2px;
	padding-right: 2px;
}

p.linklove {
	display: none;
}

.clear {
	clear: both;
}

.entry {
	position:relative;
}

/*
Oportunidades
*/

.page-template-opportunities-php .dropdown-content {
	display:none;
}

.page-template-opportunities-php .contact {
	margin-top:30px;
}

.page-template-opportunities-php .cat-name {
	color:#264B66;
	font-size:16px;
	font-weight:bold;
	line-height:24px;
	margin-bottom:10px;
}

.page-template-opportunities-php .code {
	font-size:12px;
	line-height:16px;
	text-align:left;
	color:#666666;	
	}

.page-template-opportunities-php .email {
	background: url('../images/contact-bg.png') no-repeat;
	width:101px;
	height:24px;
	text-align:center;
	line-height:24px;
}

.page-template-opportunities-php .email a{
	display:block;
	width:100%;
	height:100%;
	text-decoration:none !important;
	color:#fff;
	}

.page-template-opportunities-php hr{
	border-style:solid none none;
	border-top:1px solid #CCCCCC;
	clear:both;
	display:block;
	height:1px;
	margin:20px 0;
}

/*
Socios
*/

.page-template-partners-php ul {
	list-style:square;
}

.page-template-partners-php .dropdown-content li {
	margin-top:11px;
}

.page-template-partners-php .dropdown-content h3 {
	font-size:14px;
	margin:0;
	color:#000;
}

.page-template-partners-php .dropdown-content p {
	margin:0;
	font-size:11px;
	}


/*
Datos economicos
*/

.page-template-data-php .dropdown-content {
	display:none;
}

.page-template-data-php .combos {
	margin-bottom:30px;
}

.page-template-data-php h3 {
	font-size:14px;
	font-weight:bold;
}

.page-template-data-php h1 {
	margin-bottom:20px;
}

.page-template-data-php h4 {
	color:#264B66;
	font-size:13px;
	font-weight:normal;
	line-height:18px;
	margin-bottom:8px;
	margin-top:2px;
}

.page-template-data-php .post-name {
	color:#264B66;
	font-size:16px;
	font-weight:bold;
	line-height:24px;
	margin-bottom:10px;
}

.page-template-data-php .fuente {
	font-size:11px;
}







.page-template-data-php .dd,
.page-template-network-php .dd,
.page-template-opportunities-php .dd {
	float:left;
	margin:0;
	width:328px !important;
}

.page-template-data-php .dd .ddChild,
.page-template-network-php .dd .ddChild,
.page-template-opportunities-php .dd .ddChild{
	width:326px !important;
}


/*
Ferias
*/

.page-template-faires-php .combos {
	height:68px;
}

.page-template-faires-php .combos .combo{
	padding:5px;
}

.page-template-faires-php #main-combo_msdd {
	width:350px !important;
}

.page-template-faires-php #main-combo_msdd .ddChild {
	width:348px !important;
}

.page-template-faires-php #second-combo_msdd {
	width:120px !important;
}

.page-template-faires-php #second-combo_msdd .ddChild {
	width:118px !important;
}

.page-template-faires-php ul {
	list-style:none;
	margin:0 4px;
}

.page-template-faires-php .meta {
	margin-top:5px;
	margin-bottom:10px;
}

.page-template-faires-php p{
	margin:0;
}

.page-template-faires-php h3 {
	color:#264B66;
	font-size:16px;
	font-weight:bold;
	margin:0;
}

.page-template-faires-php .date {
	float:right;
	font-size:11px;
	font-weight:bold;
	color:#264B66;
}


body.page-template-data-php #content,
body.page-template-publications-php #content{
	width:700px;
}

/*
Publicaciones
*/

.page-template-publications-php .magazine{
	float:left;
	border: solid 2px #000;
	padding:12px;
	margin:5px 25px;
}

.page-template-publications-php .magazine h2 {
	text-align:center;
	font-size:16px;
	font-weight:normal;
	margin:0;
}


.page-template-network-php ul {
	list-style:none;
}


.page #content {
	width:480px;
	padding:0 20px;
}

.page h1 {
	color:#264B66;
	font-weight:normal;
	margin-bottom:8px;
	text-transform:uppercase;
	
	font-size:1.85em;
	line-height:1.3em;
	margin-bottom:8px;
	text-transform:uppercase;	
}

.page h1 a {
	color:#264B66;
	text-decoration:none;
}

#directorio {
	list-style:none;
	width:400px;
}

#directorio li{
	padding-top:10px;
}

#directorio span,
#directorio strong {
	float:left;
	width:200px;
}

.page .socios {
	list-style:square;
}

.page .socios li{
	margin-top:10px;
}

.page .socios h4{
	margin:0;
}

.page .title {
	color:#264B66;
	font-size:12px;
	font-weight:bold;
	line-height:16px;
	margin:0;
}

.page .cargo {
	color:#000000;
	font-size:10px;
	font-weight:bold;
	line-height:16px;
	margin:0;
}

.page .email {
	margin-bottom:20px;
}

.page .email a {
	text-decoration:underline;
	}

.page-id-23 ol ul {
	list-style: circle;
}

.page-id-23 ul {
	list-style:square;
	}

#ad p{
	color: #000;
	font-size:11px;
}

#ad p img {
	margin: 0 15px 15px 0;
}

#ad p.p_dx_claro {
	padding-right:20px;
}

#ad .title_dx {
	margin: 20px 0 10px 0;
	font-size:16px;
}

.to-left {
	float:left;
}

.to-right {
	float:right;
}

.combos {
	height:24px;
	line-height:24px;
}


.page-template-events-php .meta {
	color:#2F5D7F;
	font-size:14px;
	font-weight:bold;	
	margin:25px 0 15px 0;
}

.page-template-events-php h2 {
	color:#264B66;
	font-size:16px;
	font-weight:bold;
	line-height:24px;
	margin:0px 0 15px 0;
}

.magazine {
	margin-bottom:30px;
}

.gallery {
	margin-top:25px;
}

.gallery a {
	display:none;
}

.gallery a.first {
	display:inline;
	padding-left:7px;
	border-left:solid 15px #2F5D7F;
	color:#33818C;
	text-decoration:none;
}

.gallery a:hover {
	color:#264b66;
	}

#contact {
	display:none;
}
