/*
Sidebar Left
*/

#sidebar-left {
	float:left;
	width:200px;
}

#sidebar-left ul {
	list-style:none;
	margin:0;
	padding:40px 0 0 30px;
}

#left-nav {
	height:471px;
	background:url(../images/menu-sidebar-bg.png) no-repeat;
}

#left-nav li {
	height:35px;
	width:150px;
	background:url(../images/sidebar-item-bg.png) no-repeat center bottom;
	padding:5px 15px 5px 0;
}

#left-nav li:first-child,
#left-nav li.first-child {
	padding:5px 15px 15px 0;
}

#left-nav a {
	color:#333;
	text-decoration:none;
	font-size:1.35em;
	line-height:.95em;
}

#left-nav a:hover {
	color:#999;
}

/*
Sidebar Right
*/

#sidebar-right {
	float:right;
	width:240px;
}

#ad {
	height:200px;
	color: #fff;
}