.table_tipo_expo {
	background-color:#FFFFFF;
	height:857px;
	margin:0 auto 20px auto;
	padding-top:5px;
	width:680px;
}

.filatitle4_tipoexpo {
color:#000000;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:12px;
font-weight:bold;
height:25px;
margin:0 auto;
text-align:center;
width:670px;
}

.filatitle4_tipo2 {
color:#000000;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:12px;
font-weight:bold;
height:25px;
margin-bottom:5px;
margin-left:10px;
text-align:left;
width:670px;
}

.tabledatosexpo3 {
float:right;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:12px;
font-weight:bold;
height:20px;
margin-bottom:2px;
margin-left:5px;
margin-right:10px;
text-align:center;
width:80px;
}

.tabledatosexpo {
float:right;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:12px;
font-weight:bold;
height:20px;
margin-bottom:2px;
margin-left:5px;
margin-right:5px;
text-align:center;
width:80px;
}

.contedtableestexpo {
border-bottom:1px solid #DEDEDE;
border-color:#DEDEDE;
border-style:solid;
border-top:1px solid #DEDEDE;
float:left;
margin-left:5px;
padding-bottom:15px;
padding-top:5px;
width:670px;
}

.contedexpo {
float:left;
width:300px;
}

.filamesexpo {
color:#000000;
float:left;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:12px;
font-weight:bold;
height:20px;
margin-bottom:2px;
margin-left:5px;
text-align:left;
width:295px;
}

.filamesexpo2 {
color:#000000;
float:left;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:12px;
height:20px;
margin-bottom:2px;
margin-left:5px;
padding-left:10px;
text-align:left;
width:285px;
}

.conttablesdatosexpo {
float:right;
width:365px;
}

.tabledatosexpo2 {
float:right;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:12px;
height:20px;
margin-bottom:2px;
margin-left:5px;
margin-right:5px;
text-align:center;
width:80px;
}

.filamesexpo3 {
color:#000000;
float:left;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:12px;
font-weight:bold;
height:20px;
margin-bottom:2px;
margin-left:10px;
text-align:left;
width:295px;
}

.tabledatosexpo3 {
float:right;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:12px;
font-weight:bold;
height:20px;
margin-bottom:2px;
margin-left:5px;
margin-right:10px;
text-align:center;
width:80px;
}

.tabledatosexpo {
float:right;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:12px;
font-weight:bold;
height:20px;
margin-bottom:2px;
margin-left:5px;
margin-right:5px;
text-align:center;
width:80px;
}


.table4_variaciones {
background-color:#FFFFFF;
height:570px;
margin:0 auto 20px auto;
padding-top:5px;
width:480px;
}

.filatitle12 {
background-color:white;
border:1px solid #DFDFDF;
color:#000000;
float:left;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:12px;
font-weight:normal;
height:38px;
margin-bottom:5px;
margin-left:7px;
text-align:center;
width:140px;
}

.filatitle11 {
border:1px solid #DFDFDF;
color:#000000;
float:left;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:12px;
font-weight:normal;
height:38px;
margin-bottom:5px;
margin-left:7px;
text-align:center;
width:56px;
}

.contentrad {
float:left;
margin-top:5px;
width:545px;
}

.filatitle12b {
border:1px solid #DFDFDF;
color:#000000;
float:left;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
font-weight:normal;
height:50px;
margin-bottom:5px;
margin-left:7px;
text-align:center;
width:140px;
}